/* ---------- elements ---------- */

@font-face {
    font-family: 'Ragile';
    src: url('assets/fonts/Ragile.woff') format('woff');
}

html {
    --primary: #FFFFFF;
    --secondary: #D1D1D1;
    --accent: #D97B59;
    --dark: #0B2A54;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Ragile', 'serif';
}

body,
button,
a {
    font-family: 'Poppins', 'sans-serif';
}

html {
    /* height: 100%; */
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* ---------- backgrounds ---------- */

#home-bg {
    width: 100vw;
    height: 100vh;
    background: #f7c79e;
    display: flex;
    transition: background-color 1s ease-in-out;
}

#gradient-bg {
    width: 100%;
    position: relative;
    z-index: 9;
    /* height: calc(5000rem / 3vh); */
    /* height: 800vh; */
    background-image: linear-gradient(180deg, #0D2C54 0%, #485E7A 27.08%, #517F92 53.12%, #92BFC6 85.42%, #A1C7BF 100%);
}

#sand-bg {
    width: 100%;
    height: 20rem;
    background: #F2DDB2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    /* vertical-align: top; */
    padding-bottom: 1rem;
}


/* ---------- navbar ---------- */

#navbar {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    top: 0;
    margin-top: 1.5em;
    z-index: 50;
}

#left-spacer {
    width: 28vw;
}

#mid-spacer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#right-spacer {
    width: 13vw;
}

#register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background: var(--dark);
    box-sizing: border-box;
    padding: 0.5em 2em;
    margin-left: 0.5em;
    border-radius: 0.5em;
    transition: .3s ease-in-out;
}

#register-button:hover {
    background: var(--accent);
}

.navbar-word {
    z-index: 10000;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--dark);
    transition: .3s ease-in-out;
}

.navbar-word:hover {
    color: var(--accent);
}


/* ---------- home content ---------- */

#home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    z-index: 7;
    top: 40vh;
    right: 5vw;
    /* text-align: right; */
}

#home-name {
    text-align: right;
    font-size: 7vw;
    color: var(--primary)
}

#home-date {
    font-size: 3.7vw;
    color: var(--primary)
}

#home-icons {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    height: 3em;
    width: 20em;
    justify-content: flex-end;
    align-items: center;
}

.top-icon {
    width: 3.125em;
    height: 3.125em;
    margin: 0 0.5em;
}

.top-icon a img {
    transition: opacity .3s ease-in-out;
    width: 3.125em;
    height: 3.125em;
}

.top-icon a img:first-child {
    position: absolute;
    z-index: 7;
}

.top-icon a img:last-child {
    position: absolute;
    z-index: 6;
}

.top-icon a:hover img:first-child {
    opacity: 0;
}


/* ---------- home images ---------- */

#ocean {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-width: 90em;
    z-index: 1;
}

#waves {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    width: 44.0625vw;
    min-width: 39.65625em;
    bottom: 0;
    left: 0;
    transition: transform 0.5s;
    animation: move-waves 4s infinite;
}

#sand {
    z-index: 3;
    position: absolute;
    pointer-events: none;
    width: 50vw;
    min-width: 45em;
    bottom: 2.75em;
    left: -12em;
    transition: transform 0.5s;
    animation: move-waves 4s infinite;
}

@keyframes move-waves {
    0% {
        transform: translateX(-2em);
    }

    49% {
        transform: translateX(2em);
    }

    50% {
        transform: translateX(2em);
    }

    100% {
        transform: translateX(-2em);
    }
}

#palm {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    width: 100vw;
    min-width: 90em;
}

#mtn1 {
    position: absolute;
    pointer-events: none;
    width: 20.13888888888889vw;
    min-width: 18.125em;
    z-index: 4;
    bottom: 7.5em;
    left: 0;
}

#mtn2 {
    position: absolute;
    pointer-events: none;
    width: 27.083333333333332vw;
    min-width: 24.375em;
    z-index: 4;
    bottom: 15em;
    left: 0;
}

#mtn3 {
    position: absolute;
    pointer-events: none;
    width: 30.555555555555557vw;
    min-width: 27.5em;
    z-index: 4;
    bottom: 26.875em;
    left: 0;
}

#sun {
    z-index: 0;
    width: 19.09722222222222vw;
    min-width: 17.1875em;
    bottom: 25em;
    right: 15.5em;
    position: absolute;
    /* position: fixed; */
    pointer-events: none;
}

/* ---------- sections ---------- */

.section {
    padding-top: 18.75em;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    z-index: 100;
    color: var(--primary);
    font-size: 5rem;
    margin-bottom: 4rem;
}

.content {
    display: flex;
    width: 75.59vw;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 100;
    /* margin-bottom: 1.25rem; */
    color: var(--primary);
    font-size: 1.25rem;
    text-align: center;
}

/* ---------- about ---------- */

#about {
    padding-top: 23.56em;
    scroll-margin-top: -10em;
}

#about-text {
    margin-bottom: 1.25rem;
}

#about-date {
    color: var(--primary);
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}

#school-left {
    position: absolute;
    top: 48em;
    left: -10em;
    opacity: 50%;
    width: 40em;
    z-index: 0;
    rotate: 3deg;
}

#school-right {
    position: absolute;
    top: 10em;
    right: -4em;
    opacity: 50%;
    width: 35em;
    z-index: 0;
    rotate: -10deg;
}

#bubbles1 {
    position: absolute;
    top: 50em;
    right: 20em;
    opacity: 30%;
    width: 3.8125em;
    z-index: 0;
    rotate: -50deg;
    transform: scaleX(-1) scaleY(-1);
}

#turtle1 {
    position: absolute;
    top: 58em;
    right: 5em;
    opacity: 50%;
    width: 12em;
    rotate: 8deg;
    z-index: 0;
}

/* ---------- faq ---------- */

.section#faq {
    min-height: 0;
}

#faq-content {
    padding-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-content: flex-start;
    flex-grow: 1;
    /* margin-bottom: 10rem; */
    z-index: 2
}

.faq-div {
    width: 50%;
    flex: 1 1 20vw;
    text-align: left;
    padding-bottom: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.faq-header {
    text-align: center;
    padding-bottom: .75rem;
    font-size: 3.125rem;
    color: var(--primary);
}

.faq-bullet {
    display: flex
}

.flower {
    width: 1.5625em;
    display: inline-block
}

.faq-question {
    display: inline-block;
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-left: .5vw;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary);
    transition: color .3s ease-in-out;
}

.faq-question:hover {
    color: #f5c2ae;
    font-weight: 700;
    cursor: pointer
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    padding-left: calc(1.5625em + .5vw);
    padding-top: .5vw;
    text-align: left;
    color: #e5e5e5;
}

.faq-answer p {
    padding-bottom: 2vw;
    font-size: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes spin-back {
    0% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(0)
    }
}

#fishes {
    position: absolute;
    z-index: 0;
    width: 10.9375em;
    top: 114em;
    left: 0;
    opacity: 50%;
}

#bubbles2 {
    position: absolute;
    z-index: 0;
    width: 4.875em;
    top: 100em;
    left: 2em;
    opacity: 30%;
    rotate: -23deg;
    /* transform: scaleX(-1); */
}

#bubbles3 {
    position: absolute;
    z-index: 0;
    width: 4.875em;
    top: 90em;
    left: 0em;
    opacity: 30%;
    rotate: 17deg;
    /* transform: scaleX(-1); */
}

#bubbles4 {
    position: absolute;
    z-index: 0;
    width: 4.875em;
    top: 80em;
    left: -2em;
    opacity: 30%;
    rotate: -23deg;
    /* transform: scaleX(-1); */
}

#jelly1 {
    position: absolute;
    z-index: 0;
    width: 6.05375em;
    top: 80em;
    right: 3em;
    rotate: -7deg;
    opacity: 50%;
}

#jelly2 {
    position: absolute;
    z-index: 0;
    width: 10.703125em;
    top: 98em;
    right: 2em;
    rotate: 16deg;
    opacity: 50%;
}

#turtle2 {
    position: absolute;
    z-index: 0;
    width: 12.5625em;
    top: 125em;
    left: 8em;
    opacity: 60%;
}

#turtle3 {
    position: absolute;
    z-index: 0;
    width: 7.25em;
    top: 118em;
    left: 22em;
    opacity: 60%;
}

#turtle4 {
    position: absolute;
    z-index: 0;
    width: 4em;
    top: 123em;
    left: 30em;
    opacity: 60%;
}

#orange {
    position: absolute;
    z-index: 0;
    width: 6.5em;
    top: 123em;
    right: 30em;
    opacity: .6;
}

#green {
    position: absolute;
    z-index: 0;
    width: 9.5em;
    top: 118em;
    right: 18em;
    opacity: .6;
}

#yellow {
    position: absolute;
    z-index: 0;
    width: 10.9375em;
    top: 125em;
    right: 6em;
    opacity: .6;
}

/* ---------- sponsors ---------- */

#sponsors-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background: var(--dark);
    box-sizing: border-box;
    padding: 1rem 4rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    transition: .3s ease-in-out;
    font-size: 1.25rem;
    font-weight: bold;
}

#sponsors-button:hover {
    background: #CF7756;
}

.sponsor {
    background: var(--secondary);
    border-radius: 1em;
    width: 100%;
    height: 10em;
    transition: transform .3s ease-in-out;
    pointer-events: visible;
    cursor: pointer;
    /* display: flex; */
}

.sponsor:hover {
    transform: scale(1.03);
}

.sponsor-container {
    align-items: stretch;
    flex-direction: row;
    display: flex;
    width: 100%;
    padding-bottom: 1em;
    gap: 1em;
}

#octo {
    position: absolute;
    z-index: 0;
    width: 16.59375em;
    top: 208em;
    left: 10em;
    opacity: .7;
    rotate: -17deg;
}

#bubbles5 {
    position: absolute;
    z-index: 0;
    width: 3.2325em;
    left: 8em;
    top: 225em;
    opacity: .3;
    rotate: -128deg;
}

#bubbles6 {
    position: absolute;
    z-index: 0;
    width: 3.2325em;
    left: 2em;
    top: 227em;
    opacity: .3;
    rotate: -128deg;
}

#scuba1 {
    position: absolute;
    z-index: 0;
    width: 22.3125em;
    right: 3em;
    top: 206em;
    opacity: .7;
}

#bubbles7 {
    position: absolute;
    z-index: 0;
    width: 3.2325em;
    right: 7em;
    top: 202em;
    opacity: .3;
    rotate: -128deg;
}

#bubbles8 {
    position: absolute;
    z-index: 0;
    width: 3.2325em;
    right: 0em;
    top: 200em;
    opacity: .3;
    rotate: -128deg;
}

/* ---------- directors ---------- */

#directors {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.directors-div {
    width: 25%;
    flex: 1 1 10vw;
    text-align: left;
    padding-bottom: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.director {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 12.5rem; */
    /* margin-left: 3rem;
    margin-right: 3rem; */
    margin: 0 1.8em;
    height: 100%;
    color: var(--primary);
    font-size: 1.25rem;
}

#directors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.name {
    font-weight: bold;
}

.profile-pic {
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    margin-bottom: .5em;
    margin-top: 3em;
    background: var(--accent);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jared {
    background-image: url('assets/images/directors/jared.jpg');
}

#emily {
    background-image: url('assets/images/directors/emily.jpg');
}

#ben {
    background-image: url('assets/images/directors/ben.jpg');
}

#lori {
    background-image: url('assets/images/directors/lori.jpg');
}

#olivia {
    background-image: url('assets/images/directors/olivia.jpg');
}

#zac {
    background-image: url('assets/images/directors/zac.jpg');
}

#cady {
    background-image: url('assets/images/directors/cady.jpg');
}

#scuba2 {
    position: absolute;
    z-index: 0;
    width: 30.125em;
    left: 12em;
    top: 282em;
    opacity: .8;
}

#eye {
    position: absolute;
    z-index: 0;
    width: 9.6875em;
    top: 288em;
    right: 14em;
    opacity: .8;
    rotate: 30deg;
}

#bubbles9 {
    position: absolute;
    z-index: 0;
    width: 8.216875em;
    top: 293em;
    left: 5em;
    opacity: .3;
    transform: scaleX(-1);
}

#bubbles10 {
    position: absolute;
    z-index: 0;
    width: 8.216875em;
    top: 310em;
    left: 5em;
    opacity: .3;
    rotate: -17deg;
    transform: scaleX(-1);
}

#bubbles11 {
    position: absolute;
    z-index: 0;
    width: 8.216875em;
    top: 327em;
    left: 5em;
    opacity: .3;
    transform: scaleX(-1);
}

#bubbles12 {
    position: absolute;
    z-index: 0;
    width: 8.216875em;
    top: 293em;
    right: 5em;
    opacity: .3;
}

#bubbles13 {
    position: absolute;
    z-index: 0;
    width: 8.216875em;
    top: 310em;
    right: 5em;
    opacity: .3;
    rotate: 17deg;
}

#bubbles14 {
    position: absolute;
    z-index: 0;
    width: 8.216875em;
    top: 327em;
    right: 5em;
    opacity: .3;
}

/* ---------- countdown ---------- */

#countdown-text {
    z-index: 100;
    margin-bottom: 25rem;
}

#countdown-timer {
    /* font-family: 'Ragile', 'serif'; */
    /* margin-top: 2rem; */
    font-size: 4.5vw;
    color: var(--primary);
    font-weight: bold;
    text-align: center;
}

#chest {
    position: absolute;
    z-index: 1;
    width: 22.9375em;
    bottom: -9em;
    left: 25vw;
}

#tiger {
    position: absolute;
    z-index: 1;
    width: 17.625em;
    bottom: -9em;
    right: 27vw;
}

#coral1 {
    position: absolute;
    z-index: 1;
    width: 9.25em;
    left: 18em;
    bottom: -6em;
}

#coral2 {
    position: absolute;
    z-index: 0;
    width: 16.6875em;
    right: -3em;
    bottom: -1em;
}

#coral3 {
    position: absolute;
    z-index: 3;
    width: 11.875em;
    left: -1em;
    bottom: -10em;
}

#coral4 {
    position: absolute;
    z-index: 2;
    width: 13.5em;
    right: -3em;
    bottom: -10em;
}

#coral5 {
    position: absolute;
    z-index: 2;
    width: 13.9375em;
    left: 8em;
    bottom: -7em;
}

#coral6 {
    position: absolute;
    z-index: 1;
    width: 9.3125em;
    right: 10em;
    bottom: -7em;
}

#coral7 {
    position: absolute;
    z-index: 1;
    width: 16em;
    left: 0em;
    bottom: -1em;
}

#coral8 {
    position: absolute;
    z-index: 0;
    width: 12.875em;
    right: 10em;
    bottom: -2em;
}

#coral9 {
    position: absolute;
    z-index: 0;
    width: 10.9375em;
    right: 18em;
    bottom: -3em;
}

#coral10 {
    position: absolute;
    z-index: 0;
    width: 16.8125em;
    left: 8em;
    bottom: -2em;
}

/* ---------- footer ---------- */

#bottom-text {
    text-align: center;
    font-size: 1rem;
    color: var(--dark);

}

#bottom-icon-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.1875rem;
}

.bottom-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
    bottom: 0;
}

.bottom-icon a img {
    transition: opacity .3s ease-in-out;
    width: 3rem;
    height: 3rem;
}

.bottom-icon a img:first-child {
    position: absolute;
    z-index: 7;
}

.bottom-icon a img:last-child {
    position: absolute;
    z-index: 6;
}

.bottom-icon a:hover img:first-child {
    opacity: 0;
}